In [1]:
import os 
import quandl
import time
quandl.ApiConfig.api_key="w3-6wyH1Vy5GT3fmYSNB"
df=quandl.get('EOD/AAPL')

In [2]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [3]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split',
       'Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        1090 non-null   float64
 1   High        1090 non-null   float64
 2   Low         1090 non-null   float64
 3   Close       1090 non-null   float64
 4   Volume      1090 non-null   float64
 5   Dividend    1090 non-null   float64
 6   Split       1090 non-null   float64
 7   Adj_Open    1090 non-null   float64
 8   Adj_High    1090 non-null   float64
 9   Adj_Low     1090 non-null   float64
 10  Adj_Close   1090 non-null   float64
 11  Adj_Volume  1090 non-null   float64
dtypes: float64(12)
memory usage: 110.7 KB

In [5]:
df["HL_PCT"]=(df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100
df['PCT_Change']=(df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_Change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [6]:
df=df.drop(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split','Adj_Open', 'Adj_High', 'Adj_Low'],axis=1)
df.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_Change
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650
2013-09-04  15.796753  345032800.0  1.195129   -0.173953
2013-09-05  15.688388  236367600.0  1.421447   -0.995502
2013-09-06  15.781833  359525600.0  1.892738   -0.044138
2013-09-09  16.033661  340687200.0  0.877176    0.231683

In [7]:
df=df.fillna(-99999)
df.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_Change
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650
2013-09-04  15.796753  345032800.0  1.195129   -0.173953
2013-09-05  15.688388  236367600.0  1.421447   -0.995502
2013-09-06  15.781833  359525600.0  1.892738   -0.044138
2013-09-09  16.033661  340687200.0  0.877176    0.231683

In [9]:
label=df['Adj_Close'].shift(-10)
print(label)

Date
2013-09-03    14.422914
2013-09-04    14.719406
2013-09-05    14.960780
2013-09-06    14.805882
2013-09-09    15.541726
                ...
2017-12-21          NaN
2017-12-22          NaN
2017-12-26          NaN
2017-12-27          NaN
2017-12-28          NaN
Name: Adj_Close, Length: 1090, dtype: float64

In [10]:
import numpy as np
label.dropna(inplace=True)
y=np.array(label)
print(y.shape)

(1080,)

In [14]:
X=df[['Adj_Close','Adj_Volume','HL_PCT','PCT_Change']]
X=X[:-10]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=41)
X_test.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_Change
Date
2014-12-29  25.939437  110395680.0  0.939338    0.105457
2016-06-23  22.512252  128960748.0  1.082206    0.166771
2015-04-29  29.408525  253544332.0  2.557525   -1.167793
2015-05-05  28.759269  197085664.0  2.122258   -1.833789
2017-05-11  36.753128  109020232.0  1.143228    0.983929

In [16]:
from sklearn.linear_model import LinearRegression
Lreg=LinearRegression()
Lreg.fit(X_train,y_train)
y_pred=Lreg.predict(X_test)
y_pred

array([26.21980047, 22.827633  , 29.62487642, 28.98921436, 36.92989188,
       22.73418169, 17.70596703, 29.36444148, 26.8785244 , 27.61068843,
       42.2079658 , 25.82791288, 25.66694174, 26.32815277, 27.6586046 ,
       35.18097465, 37.5106334 , 26.76549494, 21.12376816, 33.43017852,
       36.93113048, 17.03002433, 27.01140537, 29.67923329, 28.18418291,
       37.30382052, 29.81499338, 23.79610099, 24.73775641, 27.90087931,
       36.74453422, 22.48489789, 27.44284802, 42.19928426, 21.0384194 ,
       23.84175257, 36.88867244, 23.82798198, 23.82015966, 27.43264235,
       21.48430198, 30.01889456, 23.25184571, 22.28427846, 27.25219624,
       34.08761111, 38.46296081, 27.03204768, 23.27944437, 34.27675937,
       25.85544621, 29.23774997, 27.67271972, 26.31330347, 35.05178902,
       37.61127859, 37.67369393, 22.11291967, 26.08284359, 22.42385043,
       25.15918771, 17.08429181, 35.71035021, 37.42991908, 22.09393   ,
       38.63012931, 38.44505285, 35.8700902 , 29.40739315, 41.05351255,
       21.80943306, 38.40213951, 22.26809526, 26.09929461, 27.36055112,
       21.41249089, 26.39576338, 28.42742554, 26.25449172, 26.90332442,
       27.7147274 , 37.82470305, 23.47367517, 15.8154149 , 41.40972828,
       26.56637074, 26.85847919, 25.65910252, 37.05008238, 23.37974402,
       30.51937228, 23.32492603, 14.49755282, 41.55174471, 17.27199127,
       23.45899589, 29.12513641, 25.86704059, 15.56355776, 30.63189812,
       23.13172467, 16.87369787, 25.26366554, 22.89322406, 32.71948947,
       22.34499009, 24.90865835, 26.70469699, 37.57179493, 27.94087078,
       17.99346629, 39.288849  , 26.96141908, 22.72769054, 38.47051503,
       25.64216487, 25.35713933, 16.85587566, 25.98537695, 16.58431588,
       27.47425976, 34.38796952, 27.13059829, 25.87032562, 29.22676074,
       38.88663127, 23.89431936, 41.80522657, 36.53363111, 17.0094036 ,
       28.65986187, 23.17234345, 21.69888946, 32.81520417, 16.23733018,
       35.52098688, 26.57097785, 29.13579989, 25.61818879, 28.68378283,
       18.15139445, 41.27470192, 25.12208534, 22.11527408, 26.31375124,
       22.91645103, 22.25691009, 25.69516078, 24.19174742, 41.27577639,
       33.27972804, 15.84266161, 30.18768593, 28.94733915, 24.96553414,
       21.47591268, 28.33405492, 28.06058836, 27.96898787, 26.57590547,
       22.78330298, 23.86472326, 37.78856327, 34.02313465, 16.73010268,
       20.89575491, 26.69048009, 29.79866997, 37.15952201, 27.81939264,
       39.23654465, 22.14777382, 35.91404646, 28.48805205, 26.31521195,
       26.61783493, 26.78474131, 27.0351606 , 37.12411986, 25.46730669,
       19.57417413, 17.4759729 , 22.89650667, 25.09437643, 27.44199325,
       17.29693321, 29.07570557, 35.83359811, 17.14204201, 23.29535993,
       28.65476599, 29.36018404, 38.34688577, 30.42535012, 40.16288323,
       29.62872832, 16.47275533, 26.08762339, 34.87739839, 21.00782462,
       17.49784659, 25.25566881, 17.10813679, 27.46158156, 21.33355963,
       22.80038442, 26.01152636, 24.78609725, 25.52862687, 22.87359162,
       29.30553921, 26.39122978, 29.2490274 , 29.75213262, 35.99019093,
       15.44298942, 24.65012468, 23.69813103, 19.46868121, 23.16274988,
       26.51111198, 30.39508597, 25.64777875, 27.34976149, 16.92229337,
       17.52884617, 23.29455202, 22.81332065, 15.79233388, 34.48893693,
       36.61225837, 33.64070603, 30.79292457, 26.01687548, 25.44299674,
       23.04450106, 17.40139119, 25.39808063, 25.93766479, 34.56214846,
       17.35618573, 36.05976151, 34.97724619, 20.49465608, 23.334978  ,
       29.12512793, 28.98738995, 28.89675616, 26.20505857, 23.69222754,
       33.24024795, 29.37871396, 25.63297897, 22.64894533, 19.27927934,
       22.63953664, 23.20289421, 38.08299266, 21.0989309 , 41.47570104,
       35.11009537, 17.70636367, 26.90553222, 28.63069231, 20.54371141,
       23.16574899, 17.36998589, 15.61793114, 22.12135216, 37.12581927,
       22.4337469 , 16.8986087 , 23.09803913, 20.70381362, 29.07812881,
       26.38778898, 26.29424205, 23.7682468 , 23.43827884, 20.71326991,
       24.93618038, 33.84764511, 30.54601375, 21.80276961, 25.78609906,
       28.46701949, 22.71842656, 28.46073898, 25.06516161, 40.96345036,
       32.76666162, 33.45520428, 38.6205789 , 28.83581158, 24.61495325,
       36.96073427, 34.8588519 , 37.61720168, 27.96571866, 27.29350966,
       16.85575582, 23.67607513, 22.91741797, 18.2103762 , 26.26765811,
       22.69825339, 29.64321903, 37.93069966, 25.80912846, 16.95110171,
       25.65715303, 33.74840973, 27.13642296, 24.03744714, 26.7742595 ,
       21.84340832, 23.62593035, 22.68925337, 24.92825564, 28.50288371,
       27.61998884, 26.11733889, 14.94635183, 21.53893243])

In [19]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)

In [20]:
mse

1.5337720443187535